.logo{
    width: 212px;
    height: 62px;
    margin-bottom: auto;
}

@media screen and (max-width: 370px) {
    .logo{
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
        width: 130px;
        height: 38px;
    }
}