@import '../../app/colors.scss';

.choose-gender-component{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.choose-gender-component__img{
    width: 183px;
    height: 183px;
    cursor: pointer;
}

.choose-gender-component__button{
    width: 183px;
    height: 58px;
    border-radius: 360px;
    background-color: #F5F5F5;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: $second_text_color;
}

@media screen and (max-width: 370px) {
    .choose-gender-component__img{
        width: 157px;
        height: 157px;
    }

    .choose-gender-component__button{
        width: 157px;
    }
}